<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img
 src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/alx-courses/aice/assets/Content_page_banner_blue_dots.png"
 alt="ALX Content Header"
 class="full-width-image"
/>
</div>

# Querying in notebooks
© ExploreAI Academy

In this exercise, we will query a sample SQLite database file for a retail company called Northwind to gain some insight into their data. Ensure that you have downloaded the database file Northwind.db.

## Learning objectives

By the end of this train, you should:
- Use basic SELECT statements to retrieve specific data from a database.
- Use the WHERE clause to filter data based on certain conditions.
- Combine multiple conditions using logical operators such as AND and OR.
- Use different logical operators to get or exclude specific values in a table, including the use of IN for multiple values.

First, let's load our sample database:

In [4]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

'Connected: @Northwind.db'

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Northwind ERD</em>
</div>

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Find the names of all customers from Germany in the Northwind database.

In [17]:
%%sql

SELECT
    ContactName
FROM
    customers
WHERE
    Country = "Germany";

 * sqlite:///Northwind.db
Done.

[('Maria Anders',),
 ('Hanna Moos',),
 ('Sven Ottlieb',),
 ('Peter Franken',),
 ('Philip Cramer',),
 ('Renate Messner',),
 ('Alexander Feuer',),
 ('Henriette Pfalzheim',),
 ('Horst Kloss',),
 ('Karin Josephs',),
 ('Rita Mller',)]

### Exercise 2


Find all products in the Northwind database that have a unit price greater than 30 and are discontinued. 

Note: The product has been discontinued when the column `Discontinued` is equal to  1.

In [10]:
%%sql

SELECT
    *
FROM
    products
WHERE
    UnitPrice > 30
AND 
    Discontinued = 1;

 * sqlite:///Northwind.db
Done.

[(9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97, 29, 0, 0, 1),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39, 0, 0, 0, 1),
 (28, 'Rssle Sauerkraut', 12, 7, '25 - 825 g cans', 45.6, 26, 0, 0, 1),
 (29, 'Thringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123.79, 0, 0, 0, 1),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 32.8, 0, 0, 0, 1)]

### Exercise 3


Find the contact names and phone numbers of customers from either 'USA' or 'Canada'.

In [12]:
%%sql

SELECT
    *
FROM
    customers
WHERE
    Country = "USA"
OR
    Country = "Germany";

 * sqlite:///Northwind.db
Done.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'),
 ('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', None, '68306', 'Germany', '0621-08460', '0621-08924'),
 ('DRACD', 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Order Administrator', 'Walserweg 21', 'Aachen', None, '52066', 'Germany', '0241-039123', '0241-059428'),
 ('FRANK', 'Frankenversand', 'Peter Franken', 'Marketing Manager', 'Berliner Platz 43', 'Mnchen', None, '80805', 'Germany', '089-0877310', '089-0877451'),
 ('GREAL', 'Great Lakes Food Market', 'Howard Snyder', 'Marketing Manager', '2732 Baker Blvd.', 'Eugene', 'OR', '97403', 'USA', '(503) 555-7555', None),
 ('HUNGC', 'Hungry Coyote Import Store', 'Yoshi Latimer', 'Sales Representative', 'City Center Plaza 516 Main St.', 'Elgin', 'OR', '97827', 'USA', '(503) 555-6874', '(503) 555-2376'),
 ('KOENE', 'Kniglich Essen', 'Philip Cramer', 'Sales Associate', 'Maubelstr. 90', 'Brandenburg', None, '14776', 'Germany', '0555-09876', None),
 ('LAZYK', 'Lazy K Kountry Store', 'John Steel', 'Marketing Manager', '12 Orchestra Terrace', 'Walla Walla', 'WA', '99362', 'USA', '(509) 555-7969', '(509) 555-6221'),
 ('LEHMS', 'Lehmanns Marktstand', 'Renate Messner', 'Sales Representative', 'Magazinweg 7', 'Frankfurt a.M.', None, '60528', 'Germany', '069-0245984', '069-0245874'),
 ('LETSS', "Let's Stop N Shop", 'Jaime Yorres', 'Owner', '87 Polk St. Suite 5', 'San Francisco', 'CA', '94117', 'USA', '(415) 555-5938', None),
 ('LONEP', 'Lonesome Pine Restaurant', 'Fran Wilson', 'Sales Manager', '89 Chiaroscuro Rd.', 'Portland', 'OR', '97219', 'USA', '(503) 555-9573', '(503) 555-9646'),
 ('MORGK', 'Morgenstern Gesundkost', 'Alexander Feuer', 'Marketing Assistant', 'Heerstr. 22', 'Leipzig', None, '04179', 'Germany', '0342-023176', None),
 ('OLDWO', 'Old World Delicatessen', 'Rene Phillips', 'Sales Representative', '2743 Bering St.', 'Anchorage', 'AK', '99508', 'USA', '(907) 555-7584', '(907) 555-2880'),
 ('OTTIK', 'Ottilies Kseladen', 'Henriette Pfalzheim', 'Owner', 'Mehrheimerstr. 369', 'Kln', None, '50739', 'Germany', '0221-0644327', '0221-0765721'),
 ('QUICK', 'QUICK-Stop', 'Horst Kloss', 'Accounting Manager', 'Taucherstrae 10', 'Cunewalde', None, '01307', 'Germany', '0372-035188', None),
 ('RATTC', 'Rattlesnake Canyon Grocery', 'Paula Wilson', 'Assistant Sales Representative', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA', '(505) 555-5939', '(505) 555-3620'),
 ('SAVEA', 'Save-a-lot Markets', 'Jose Pavarotti', 'Sales Representative', '187 Suffolk Ln.', 'Boise', 'ID', '83720', 'USA', '(208) 555-8097', None),
 ('SPLIR', 'Split Rail Beer & Ale', 'Art Braunschweiger', 'Sales Manager', 'P.O. Box 555', 'Lander', 'WY', '82520', 'USA', '(307) 555-4680', '(307) 555-6525'),
 ('THEBI', 'The Big Cheese', 'Liz Nixon', 'Marketing Manager', '89 Jefferson Way Suite 2', 'Portland', 'OR', '97201', 'USA', '(503) 555-3612', None),
 ('THECR', 'The Cracker Box', 'Liu Wong', 'Marketing Assistant', '55 Grizzly Peak Rd.', 'Butte', 'MT', '59801', 'USA', '(406) 555-5834', '(406) 555-8083'),
 ('TOMSP', 'Toms Spezialitten', 'Karin Josephs', 'Marketing Manager', 'Luisenstr. 48', 'Mnster', None, '44087', 'Germany', '0251-031259', '0251-035695'),
 ('TRAIH', "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', 'Sales Associate', '722 DaVinci Blvd.', 'Kirkland', 'WA', '98034', 'USA', '(206) 555-8257', '(206) 555-2174'),
 ('WANDK', 'Die Wandernde Kuh', 'Rita Mller', 'Sales Representative', 'Adenauerallee 900', 'Stuttgart', None, '70563', 'Germany', '0711-020361', '0711-035428'),
 ('WHITC', 'White Clover Markets', 'Karl Jablonski', 'Owner', '305 - 14th Ave. S. Suite 3B', 'Seattle', 'WA', '98128', 'USA', '(206) 555-4112', '(206) 555-4115')]

### Exercise 4

From the 'Orders' table, select all orders that were placed by 'VINET', 'QUICK' or 'SUPRD' and were shipped via shipper 1 or 2.

In [14]:
%%sql

SELECT
    *
FROM
    orders
WHERE
    CustomerID IN ("VINET", "QUICK", "SUPRD")
AND
    ShipVia IN (1, 2);

 * sqlite:///Northwind.db
Done.

[(10252, 'SUPRD', 4, '1996-07-09 00:00:00', '1996-08-06 00:00:00', '1996-07-11 00:00:00', 2, 51.3, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10274, 'VINET', 6, '1996-08-06 00:00:00', '1996-09-03 00:00:00', '1996-08-16 00:00:00', 1, 6.01, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France'),
 (10285, 'QUICK', 1, '1996-08-20 00:00:00', '1996-09-17 00:00:00', '1996-08-26 00:00:00', 2, 76.83, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10295, 'VINET', 2, '1996-09-02 00:00:00', '1996-09-30 00:00:00', '1996-09-10 00:00:00', 2, 1.15, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France'),
 (10302, 'SUPRD', 4, '1996-09-10 00:00:00', '1996-10-08 00:00:00', '1996-10-09 00:00:00', 2, 6.27, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10313, 'QUICK', 2, '1996-09-24 00:00:00', '1996-10-22 00:00:00', '1996-10-04 00:00:00', 2, 1.96, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10345, 'QUICK', 2, '1996-11-04 00:00:00', '1996-12-02 00:00:00', '1996-11-11 00:00:00', 2, 249.06, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10361, 'QUICK', 1, '1996-11-22 00:00:00', '1996-12-20 00:00:00', '1996-12-03 00:00:00', 2, 183.17, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10418, 'QUICK', 4, '1997-01-17 00:00:00', '1997-02-14 00:00:00', '1997-01-24 00:00:00', 1, 17.55, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10475, 'SUPRD', 9, '1997-03-14 00:00:00', '1997-04-11 00:00:00', '1997-04-04 00:00:00', 1, 68.52, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10515, 'QUICK', 2, '1997-04-23 00:00:00', '1997-05-07 00:00:00', '1997-05-23 00:00:00', 1, 204.47, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10527, 'QUICK', 7, '1997-05-05 00:00:00', '1997-06-02 00:00:00', '1997-05-07 00:00:00', 1, 41.9, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10549, 'QUICK', 5, '1997-05-27 00:00:00', '1997-06-10 00:00:00', '1997-05-30 00:00:00', 1, 171.24, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10658, 'QUICK', 4, '1997-09-05 00:00:00', '1997-10-03 00:00:00', '1997-09-08 00:00:00', 1, 364.15, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10691, 'QUICK', 2, '1997-10-03 00:00:00', '1997-11-14 00:00:00', '1997-10-22 00:00:00', 2, 810.05, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10737, 'VINET', 2, '1997-11-11 00:00:00', '1997-12-09 00:00:00', '1997-11-18 00:00:00', 2, 7.79, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France'),
 (10745, 'QUICK', 9, '1997-11-18 00:00:00', '1997-12-16 00:00:00', '1997-11-27 00:00:00', 1, 3.52, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10788, 'QUICK', 1, '1997-12-22 00:00:00', '1998-01-19 00:00:00', '1998-01-19 00:00:00', 2, 42.7, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10841, 'SUPRD', 5, '1998-01-20 00:00:00', '1998-02-17 00:00:00', '1998-01-29 00:00:00', 2, 424.3, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10845, 'QUICK', 8, '1998-01-21 00:00:00', '1998-02-04 00:00:00', '1998-01-30 00:00:00', 1, 212.98, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10865, 'QUICK', 2, '1998-02-02 00:00:00', '1998-02-16 00:00:00', '1998-02-12 00:00:00', 1, 348.14, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10878, 'QUICK', 4, '1998-02-10 00:00:00', '1998-03-10 00:00:00', '1998-02-12 00:00:00', 1, 46.69, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10938, 'QUICK', 3, '1998-03-10 00:00:00', '1998-04-07 00:00:00', '1998-03-16 00:00:00', 2, 31.89, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10962, 'QUICK', 8, '1998-03-19 00:00:00', '1998-04-16 00:00:00', '1998-03-23 00:00:00', 2, 275.79, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10991, 'QUICK', 1, '1998-04-01 00:00:00', '1998-04-29 00:00:00', '1998-04-07 00:00:00', 1, 38.51, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10996, 'QUICK', 4, '1998-04-02 00:00:00', '1998-04-30 00:00:00', '1998-04-10 00:00:00', 2, 1.12, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (11021, 'QUICK', 3, '1998-04-14 00:00:00', '1998-05-12 00:00:00', '1998-04-21 00:00:00', 1, 297.18, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (11035, 'SUPRD', 2, '1998-04-20 00:00:00', '1998-05-18 00:00:00', '1998-04-24 00:00:00', 2, 0.17, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (11038, 'SUPRD', 1, '1998-04-21 00:00:00', '1998-05-19 00:00:00', '1998-04-30 00:00:00', 2, 29.59, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium')]

### Challenge question

Find the employees in the Northwind database who are either Sales Representatives or Sales Managers and are based in London.

In [18]:
%%sql

SELECT 
    FirstName, 
    LastName 
FROM 
    Employees 
WHERE 
    (Title = 'Sales Representative' OR Title = 'Sales Manager') 
    AND City = 'London';

 * sqlite:///Northwind.db
Done.

[('Steven', 'Buchanan'),
 ('Michael', 'Suyama'),
 ('Robert', 'King'),
 ('Anne', 'Dodsworth')]

## Solutions

### Exercise 1

In [ ]:
%%sql
SELECT 
    ContactName 
FROM 
    Customers 
WHERE 
    Country = 'Germany';

### Exercise 2

In [ ]:
%%sql

SELECT 
    ProductName, Discontinued
FROM 
    Products 
WHERE 
    UnitPrice > 30 
    AND Discontinued = 1;

### Exercise 3

In [ ]:
%%sql

SELECT 
    ContactName, 
    Phone 
FROM 
    Customers 
WHERE 
    Country IN ('USA', 'Canada');

### Exercise 4

In [ ]:
%%sql

SELECT 
    * 
FROM 
    Orders 
WHERE 
    CustomerID IN ('VINET', 'QUICK', 'SUPRD')
    AND ShipVia IN (1,2);

### Challenge question

In [ ]:
%%sql

SELECT 
    FirstName, 
    LastName 
FROM 
    Employees 
WHERE 
    (Title = 'Sales Representative' OR Title = 'Sales Manager') 
    AND City = 'London';

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:100px"  ;/>
</div>